/* Duration/Failures (dur_awarie) Styles */

.awaria-header {
    padding: 15px;
    border-left: 5px solid;
    box-sizing: border-box;
}

.awaria-header.status-zgłoszone {
    background-color: #e7f3ff;
    border-left-color: #0066cc;
}

.awaria-header.status-czeka_na_czesci {
    background-color: #ffcccc;
    border-left-color: #dc3545;
}

.awaria-header.status-w_trakcie_naprawy {
    background-color: #fff3cd;
    border-left-color: #ffc107;
}

.awaria-header.status-zakończone {
    background-color: #d4edda;
    border-left-color: #28a745;
}

.awaria-header.status-default {
    background-color: #f0f0f0;
    border-left-color: #999999;
}
