<!-- WAREHOUSE V2 MODALS ORCHESTRATOR -->
{% include 'warehouse_v2/modals/_styles.html' %}
{% include 'warehouse_v2/modals/_modal_pallet_details.html' %}
{% include 'warehouse_v2/modals/_modal_pallet_history.html' %}
{% include 'warehouse_v2/modals/_modal_material_type.html' %}
{% include 'warehouse_v2/modals/_modal_packaging.html' %}
{% include 'warehouse_v2/modals/_modal_move_location.html' %}
{% include 'warehouse_v2/modals/_modal_return_raw.html' %}
{% include 'warehouse_v2/modals/_modal_reports.html' %}

{% include 'includes/_station_history_modal.html' %}
