name: Docker Publish
on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  # IMAGE_NAME będzie ustawione w kroku po checkout, aby wymusić małe litery

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set IMAGE_NAME (lowercase, safe for tags)
        run: |
          # Zamieniamy GITHUB_REPOSITORY na małe litery i zastępujemy '/' znakiem '-'
          IMAGE=$(echo "$GITHUB_REPOSITORY" | tr '[:upper:]' '[:lower:]' | sed 's#/#_#g')
          echo "IMAGE_NAME=$IMAGE" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Tutaj upewniamy się, że tag jest pisany małymi literami
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest